.nga-navbar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;}

.nga-navbar-logo {
  font-size: 1.3em;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.ikonUser{
  color: rgb(13, 165, 104);
  font-size: x-large;
}

.ikonAdmin{
  color: rgb(0, 0, 0);
  font-size: x-large;
}



