<div class="sablon">
  <div class="columns is-gapless is-multiline is-mobile">
    <div class=" box column kart" style="margin: 1em;">
      <div class="haber">
        <div class="card-content">
              <p class="h5">iş kuracaklara tavsiyeler</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sablon">
  <div class="columns is-gapless is-multiline is-mobile">
    <div class=" box column kart" style="margin: 1em;">
      <div class="haber">
        <div class="card-content">
              <p class="h5">3 ocak 2018 sezen aksu yıldız tilbe buluşması</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sablon">
  <div class="columns is-gapless is-multiline is-mobile">
    <div class=" box column kart" style="margin: 1em;">
      <div class="haber">
        <div class="card-content">
              <p class="h5">euro 2016 d grubu</p>
        </div>
      </div>
    </div>
  </div>
</div>